*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kufam', cursive;
}

body{
    background-color: rgb(245, 235, 220);
}


 /* Nav */

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;


    background-color:rgb(245, 235, 220);
}

nav{
    display: flex;
    flex-direction: row;
    max-width: 35%;
    height: 75px;;
    align-items: center;
}

nav a{
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20px 10px;

    text-decoration: none;
    color: rgb(77, 49, 13);
    font-weight: 900;
}



header a img{
    position: absolute;
    width: 95px;
    left: 47%;
    top:-3px;

    background: rgb(245, 235, 220);
    border-radius: 20%;
    
}

img::after{
    content:"1";

}





.order{
    display: flex;
    flex-direction: row;

}


.order a{
    flex-grow:1;
    align-self: center;
    margin: 10px;
    border: rgb(214, 35, 0) solid 2px;
    padding: 3px 16px;
    border-radius: 20px;
    letter-spacing: .1em;
    text-decoration: none;
    font-size: 13px;
    align-items: center;
    font-weight: 500;

}
.order a:first-child{
    background-color: rgb(214, 35, 0);
    color:rgb(245, 235, 220);
}



/* Undernav */
.undernav{
    background-color: rgb(245, 235, 220);
    border-top: solid 2px rgba(161, 138, 127, 0.623);
    padding-left: 10px;


    height: 30px;

}
.undernav a{
    text-decoration: none;
    color:rgb(214, 35, 0);
    font-weight: 600;
}




/* Main */
main{
    background-image: url(./img/ilya-mashkov-mkVa2hLJgnI-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 55vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

h1{
    color: rgb(245, 235, 220);
    text-shadow: 0px 3px 7px rgb(80, 35, 20);
    font-size: 120px;;
    font-weight: 900;
    width: 85%;
    margin-left: 50px;
    /* margin-top: 150px;     */
    
    
    
}

.ordermain{
    width: 400px;
    margin-left: 50px;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: nowrap;
    margin-bottom: 90px;
}


.ordermain a{
    color:rgb(214, 35, 0);
    background-color:rgb(245, 235, 220);

    padding: 13px 40px;
    border-radius: 50px;
    font-weight: 900;
    text-decoration: none;

}


/* deals */

.deals{
    padding-top: 50px;
    height: auto;
    background-color: rgb(245, 235, 220);
    margin: auto;
    max-width :1400px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.deals2{
    height: auto;
    background-color: rgb(245, 235, 220);
    margin: auto;
    max-width :1400px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}




.item1{
    position: relative;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 550px;
    overflow: hidden;

}
.item2{
    position: relative;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 550px;
    margin-left: 20px;
    overflow: hidden;
}


.item1 img,
.item2 img{
    width: 100%;
    border-radius: 20px;;
    height: 290px;
    margin-top: 10px;
    overflow: hidden;

}


.absolute-item{
    color:rgb(214, 35, 0);
    position: absolute;
    bottom:50px;
    left: 50px;
    width: 100%;
    font-weight: 900;
    font-size: 22px;
    background-color:rgb(245, 235, 220);
    border-radius: 20px;
    padding-left: 20px;

}

.absolute-item-2{
    position: absolute;
    bottom: 12px;
    right: 20px;
    color:rgb(245, 235, 220);
    background-color:rgb(214, 35, 0);
    padding: 5px 25px;
    border-radius: 20px;
    font-weight: 900;
    font-size: 15px;

}
